#internet
{
	background: #1259A1;
}

#TV
{
	background: #000E4A;
}

#promotion
{
	background: #1484BD;
}


#postHeader h1
{
	color: white;
	font-size: 33px;
	line-height: 33px;
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px;
}

#postHeader p
{
	color: white;
	font-size: 27px;
	line-height: 27px;
}

.postMsg 
{
	color: #C5C9DB;
	text-align: left;
	margin-left: 0px;
}	

.postMsg p
{
	font-family: 'Arial';
	font-size: 18px;
	margin: 5px 0px 5px 0px; 
	padding: 5px 0px 5px 0px;
}

.promotionMsg
{
	color: #EAF4FA;
	text-align: left;
	margin-left: 7px;
}

.promotionMsg p
{
	font-family: 'Arial';
	font-size: 18px;
	margin: 5px 0px 5px 0px; 
	padding: 5px 0px 5px 0px;
}




