#internet
{
	background: #1259A1;
}

#TV
{
	background: #000E4A;
}

#promotion
{
	background: #1484BD;
}

#wrapper
{
    width: 100%;
    height: 300px;
    margin: auto;
}

.til1
{
	background-color: tomato;
	width: 45%;
	height: 300px;
	float: left;
}

.til1:hover
{
	background-color: white;
	background-image: url("../img/pdfIcon.png");
	display: cover;
	background-repeat:   no-repeat;
	background-position: center center; 
}

.til2
{
	background-color: orange;
	margin-left: 55%;
	height: 300px;
}

.til2:hover 
{
	background-color: white;
	background-image: url("../img/pdfIcon.png");
    display: cover;
	background-repeat:   no-repeat;
	background-position: center center; 
}

a.tilelink
{
	color: white;
	font-size: 35px;
	text-align: center;
	transform: translate(0%, 0%);
	text-decoration: none;
	display: block;
	width: 450px;
	height: 300px;
}

#postHeader h1
{
	color: white;
	font-size: 33px;
	line-height: 33px;
	margin: 0px 0px 5px 0px; 
	padding: 0px 0px 0px 0px;
}

#postHeader p
{
	color: white;
	font-size: 27px;
	line-height: 27px;
}

.postMsg 
{
	word-wrap: break-word;
	color: #C5C9DB;
	text-align: left;
	margin-left: 0px;
}	

.postMsg p
{
	font-family: 'Arial';
	font-size: 18px;
	margin: 5px 0px 5px 0px; 
	padding: 5px 0px 5px 0px;
}

.promotionMsg
{
	word-wrap: break-word;
	color: #EAF4FA;
	text-align: left;
	margin-left: 7px;
}

.promotionMsg p
{
	font-family: 'Arial';
	font-size: 18px;
	margin: 5px 0px 5px 0px; 
	padding: 5px 0px 5px 0px;
}




