body {
	margin: 0;
	background-color: #E2E9F0;
    font-family: 'Open Sans';
	font-size: 17px;
}

#menuPicture
{
	margin: 0;
	padding: 10px;
	float: right;
	text-align: right;
	font-size: 30px;
	min-height: 50px;
	line-height: 200%;
}

#menuPicture:hover
{
	transition: all .5s ease-in-out;
	transform: scale(1.2) perspective(1px);
}

.dropdownMenu{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 25px;
	min-height: 50px;
	line-height: 200%;
	background-color: white;
}

.dropdownMenu > li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}

.dropdownMenu a{
    color: #000000;
	text-decoration: none;
}

.dropdownMenu a:hover, .dropdownMenu a:focus{
    color: #0381FF;
}


.box
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	text-align: center;
	padding-top: 15px;
	margin-top: 0px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}

.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}