body {
	margin: 0;
	background-color: #E2E9F0;
    font-family: 'Open Sans';
	font-size: 17px;
}

.scrollup
{
	color: #000000;
	font-size: 60px;
	text-decoration: none;
	position: fixed;
	right: 25px;
	bottom: 40px;
	display: none;
}

.dropdownMenu{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 25px;
	min-height: 50px;
	line-height: 200%;
	background-color: white;
}

.dropdownMenu > li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	
}

.dropdownMenu a{
    color: #000000;
	text-decoration: none;
	
}

.dropdownMenu a:hover{
    color: #0381FF;
}

.heroBanner {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: url("../img/connectPic.png");
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.heroText h1 {
	font-size: 50px;
	text-align: center;
	transform: translate(-10%, -35%);
	color: white;
	text-shadow: 1.5px 0 0 black, 0 -1.5px 0 black, 0 1.5px 0 black, -1.5px 0 0 black;
}

.heroText p {
	font-size: 35px;
	text-align: right;
	top: 0%;
	left: 30%;
	transform: translate(-7.5%, 210%);
	color: white;
	text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
}

.box
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	text-align: center;
	padding-top: 15px;
	margin-top: 0px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}


.info
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info a:link {
  text-decoration: none;
  color: #000000;
}

.info a:visited {
  text-decoration: none;
  color: #000000;
}

.info a:hover {
  text-decoration: underline;
  color: #0381FF;
}

.info a:active {
  text-decoration: underline;
  color: #000000;
}